USE [NGANHANG]
GO
/****** Object:  StoredProcedure [dbo].[SP_SAOKETAIKHOAN]    Script Date: 5/26/2024 12:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_SAOKETAIKHOAN] @SOTAIKHOAN NCHAR(9), @NGAYBD DATETIME, @NGAYKT DATETIME
AS
BEGIN
	DECLARE @SOTIENBANDAU MONEY, @SODU MONEY
	DECLARE @TAB TABLE(SODUDAU MONEY, NGAYGD DATETIME, LOAIGD NCHAR(2), SOTIEN MONEY, SODUSAU MONEY)
	DECLARE @SODUDAU MONEY, @NGAYGD DATETIME, @LOAIGD NCHAR(2), @SOTIEN MONEY, @SODUSAU MONEY, @TK_NHAN NCHAR(9), @TEMP MONEY

	SELECT @SODU = SODU FROM TaiKhoan WHERE TaiKhoan.SOTK = @SOTAIKHOAN

	--Tính tổng số tiền từ ngày bắt đầu
	SELECT @SOTIENBANDAU = @SODU + SUM(CASE 
										WHEN GD.LOAIGD = 'RT' THEN GD.SOTIEN
										WHEN GD.LOAIGD = 'GT' THEN -GD.SOTIEN
										WHEN GD.SOTK = @SOTAIKHOAN THEN -GD.SOTIEN
										ELSE GD.SOTIEN END)

	FROM(
		SELECT NGAYGD, SOTIEN, LOAIGD = 'CT', SOTK = CT.SOTK_NHAN FROM LINK0.NGANHANG.DBO.GD_CHUYENTIEN CT WHERE CT.SOTK_NHAN = @SOTAIKHOAN OR CT.SOTK_CHUYEN = @SOTAIKHOAN
		UNION
		SELECT NGAYGD, SOTIEN, LOAIGD, SOTK FROM LINK0.NGANHANG.DBO.GD_GOIRUT WHERE SOTK = @SOTAIKHOAN
	) GD
	WHERE GD.NGAYGD >= @NGAYBD


	--Tạo 1 cursor để lưu dữ liệu sao kê
	DECLARE CURSORTK CURSOR
	FOR SELECT GD.NGAYGD, GD.LOAIGD, GD.SOTIEN, GD.SOTK 
		FROM (
			SELECT NGAYGD, SOTIEN, LOAIGD = 'CT', SOTK = CT.SOTK_NHAN FROM LINK0.NGANHANG.DBO.GD_CHUYENTIEN CT WHERE CT.SOTK_NHAN = @SOTAIKHOAN OR CT.SOTK_CHUYEN = @SOTAIKHOAN
			UNION
			SELECT NGAYGD, SOTIEN, LOAIGD, SOTK FROM LINK0.NGANHANG.DBO.GD_GOIRUT WHERE SOTK = @SOTAIKHOAN
		) GD
	WHERE GD.NGAYGD BETWEEN @NGAYBD AND @NGAYKT
	ORDER BY GD.NGAYGD

	--Khởi động cursor
	OPEN CURSORTK

	--Cho cursor đi đến vị trí đầu tiên
	FETCH NEXT FROM CURSORTK 
		INTO @NGAYGD, @LOAIGD, @SOTIEN, @TK_NHAN
		
	SET @SODUDAU = @SOTIENBANDAU

	--Tính số dư sau ở hàng đầu tiên
	IF(@LOAIGD = 'RT')
		SET @SODUSAU = @SODUDAU - @SOTIEN
	ELSE IF(@LOAIGD = 'GT')
		SET @SODUSAU = @SODUDAU + @SOTIEN
	ELSE IF(@TK_NHAN = @SOTAIKHOAN)
		SET @SODUSAU = @SODUDAU + @SOTIEN
	ELSE
		SET @SODUSAU = @SODUDAU - @SOTIEN

	--Duyệt qua CURSORTK
	WHILE @@FETCH_STATUS = 0
	BEGIN
		SET @TEMP = @SODUSAU
		INSERT INTO @TAB(SODUDAU, NGAYGD, LOAIGD, SOTIEN, SODUSAU)
					VALUES (@SODUDAU, @NGAYGD, @LOAIGD, @SOTIEN, @SODUSAU)

		FETCH NEXT FROM CURSORTK
			INTO @NGAYGD, @LOAIGD, @SOTIEN, @TK_NHAN

		SET @SODUDAU = @TEMP
		IF(@LOAIGD = 'RT')
			SET @SODUSAU = @TEMP - @SOTIEN
		ELSE IF(@LOAIGD = 'GT')
			SET @SODUSAU = @TEMP + @SOTIEN
		ELSE IF(@TK_NHAN = @SOTAIKHOAN)
			SET @SODUSAU = @TEMP + @SOTIEN
		ELSE
			SET @SODUSAU = @TEMP - @SOTIEN
	END

SELECT SODUDAU, NGAYGD, (CASE
									WHEN (LOAIGD = 'CT' AND SODUSAU < SODUDAU) THEN N'CT'	--CT = Chuyển tiền
									WHEN (LOAIGD = 'CT' AND SODUSAU > SODUDAU) THEN N'NT'	--NT = Nhận tiền
									WHEN (LOAIGD = 'GT') THEN N'GT'							--GT = Gửi tiền
									WHEN (LOAIGD = 'RT') THEN N'RT' END) AS LOAIGD,			--RT = Rút tiền
									SOTIEN, SODUSAU
		FROM @TAB
CLOSE CURSORTK
DEALLOCATE CURSORTK


END